<div class="details-container">
  <button type="button" class="go-back" title="Voltar">
    <fa-icon [icon]="arrowLeftIcon"></fa-icon>
  </button>
  <section class="details-box">
    <img
      src="https://image.tmdb.org/t/p/w500/bw4WvmEJ0AeOvPTVSY0hZqjoEM4.jpg"
      alt="Image"
    />
    <div class="details-content">
      <h1>Simplesmente complicado</h1>
      <div class="data">
        <span class="relevance">6.5</span>
        <span>2019</span>
        <span>121 min</span>
      </div>
      <div class="synopsis">
        <h4>Sinopse</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          rem beatae amet placeat vero labore alias blanditiis voluptates nihil,
          consequatur, voluptatem ut vel quos molestias. Blanditiis, assumenda
          quidem? Voluptatibus, iure!
        </p>
      </div>
      <div class="additional-information">
        <div>
          <h4>Gêneros</h4>
          <ul>
            <li>Comédia</li>
            <li>Romance</li>
          </ul>
        </div>
        <div>
          <h4>Produtoras</h4>
          <ul>
            <li>Universal Pictures Relativity Media</li>
            <li>Waverly Films</li>
            <li>Scott Rudin Productions</li>
          </ul>
        </div>
        <div>
          <h4>Países</h4>
          <ul>
            <li>Japan</li>
            <li>United States of America</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
