div {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 1rem;

  & > span:first-child {
    font-weight: bold;
    display: flex;
    gap: 5px;
  }

  span {
    font-size: 0.875rem;
    font-style: italic;
  }
}
