:root {
  --blue-500: #1e3497;
  --blue-600: #1e2e7f;

  --light-blue: #c0d2ff;

  --dark-blue-700: #273453;
  --dark-blue-800: #1a2237;
  --dark-blue-900: #181c27;

  --green: #2ecc71;
  --red: #e74c3c;
  --yellow: #f1c40f;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-blue-900);
  -webkit-font-smothing: antialiased;
}

body,
input,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--white);
}

input,
button {
  outline: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

.poster {
  display: flex;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  animation: fadeIn 1s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 24px 0px var(--dark-blue-700);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
