:root {
  --blue-500: #1e3497;
  --blue-600: #1e2e7f;

  --light-blue: #c0d2ff;

  --dark-blue-700: #273453;
  --dark-blue-800: #1a2237;
  --dark-blue-900: #181c27;

  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-blue-900);
  -webkit-font-smothing: antialiased;
}

body,
input,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--white);
}

input,
button {
  outline: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}
