:root {
  --blue-100: #c0d2ff;
  --blue-700: #273453;
  --blue-800: #1a2237;
  --blue-900: #181c27;

  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--blue-900);
  -webkit-font-smothing: antialiased;
}

body,
input,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--white);
}

input {
  outline: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}
